.ref {
    font-style: italic;
    color: var(--colour-sea);
    font-size: x-small;
    margin: 1px;
}

.post-outer {
    background-color: var(--colour-cloud);
    padding: 5px 10px;
    margin: auto;
    margin-top: 15px;
    max-width: 500px;
    min-width: fit-content;
    border-style: solid;
    border-color: var(--colour-sea);
    border-radius: 2px;
    border-width: 2px;
}

.post-outer h3 {
    color: var(--colour-sun);
    font-weight: bold;
}
