<div *ngIf="post; then thenBlock else elseBlock"></div>

<ng-template #thenBlock>
    <div class="post-outer">
        <p class="ref left">ID: {{post.id}}</p>
        <h3 class>{{post.title | uppercase}}</h3>
        <markdown ngPreserveWhitespaces [data]="post.body"></markdown>
        <p class="ref right">Originally Posted: {{post.date}}</p>
    </div>
</ng-template>

<ng-template #elseBlock>
    <div class="post-outer">
        <p class="ref left">ID: -</p>
        <h3 class>          </h3>
        <p class="ref right">Originally Posted: -</p>
        <markdown ngPreserveWhitespaces >
            No previous posts
        </markdown>
    </div>
</ng-template>
