.ref {
    font-style: italic;
    color: var(--colour-sky);
    font-size: 6;
    align-content: flex-end;
}

.posts {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 30em;
}

.posts li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: var(--colour-sun);
  margin: .5em;
  padding: .3em 0;
  border-radius: 4px;
}

.posts li:hover {
  color: black;
  background-color: var(--colour-sand);
  left: .1em;
}

.posts li.selected {
  background-color: var(--colour-sand);
  color: var(--colour-cloud);
}

.posts li.selected:hover {
  background-color: var(--colour-sand);
  color: var(--colour-cloud);
}

.posts li a {
  background-color: var(--colour-sand);
}

.posts li a h4 {
  font-size: 1rem;
}

.posts .badge {
  font-size: small;
  color: black;
  padding: 0.55em 0.7em 0.4em 0.7em;
  background-color:var(--colour-sand);
  line-height: 1.1em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
