<section class="recent-posts-nav">
  <h3>Recent Posts</h3>
  <div class="row">
    <section class="column">
      <a *ngFor="let post of posts" 
        routerLink="/post/{{post.id}}">
        <div class="large-3 medium-6 small-12 article-link">
          <h4>{{post.title | uppercase }}</h4>
        </div>
      </a>
    </section>
  </div>
</section>
<section class="recent-posts-content" style="clear:both;">
  <h3>Last Post</h3>
  <app-post-renderer [post]="lastPost"></app-post-renderer>
</section>