<section class="main-title">
    <header>
        <span>
            <img class="main-title-badge" src="../assets/seashell.png" title=""><img>
            <h1>{{title}}</h1> 
        </span>
    </header>
    <div class="air air1"></div>
    <div class="air air2"></div>
    <div class="air air3"></div>
    <div class="air air4"></div>
</section>

<nav class="navbar">
    <a routerLink="/home" routerLinkActive="active-route">Home</a>
    <a routerLink="/posts" routerLinkActive="active-route">Posts</a>
    <a routerLink="/logica" routerLinkActive="active-route">Logica</a>
    <a routerLink="/whrp" routerLinkActive="active-route">WHRP</a>
</nav>
<main class="limited">
    <router-outlet></router-outlet>
</main>