html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Application-wide Styles */
:host {
    --colour-sun: #ff9f1c;
    --colour-sand: #FFBF69;
    --colour-cloud: #FFFFFF;
    --colour-sky: #CBF3F0;
    --colour-sea: #2EC4B6;
}

h1 {
    color: var(--colour-sea);
    font-family: sans-serif;
    font-size: 250%;
}
h2, h3 {
    color: var(--colour-sea);
    font-family: sans-serif;
    font-weight: lighter;
}
body {
    background-color: var(--colour-cloud);
    margin: 2em;
    font-family: sans-serif;
}
body, input[type="text"], button {
    color: var(--colour-sea);
    font-family: sans-serif;
}

nav a {
    display: inline;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: var(--colour-sun);
    color: white;
}

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 80px;
}

div#graph-relationship svg g.links line {
    stroke: var(--colour-sea);
}
div#graph-relationship svg g.nodes text {
    font-size: 0.7em;
}